body {
    font-family: "SF Pro Display";
}

.container {
    display: grid;
    grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicio] 200px [inicio2] 200px [final];
    grid-gap: 5px;
}

.item {
    background: rgb(51, 204, 255);
    padding: 10px;
    border: 1px solid crimson;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */

}

.item:nth-of-type(1) {
    background: rgb(153, 102, 255);
    /* grid-column: 1 / span 3;
    grid-row: 1 / span 2; */
    grid-column: inicio / destacado-end;
    grid-row: inicio / final;
}

.item:nth-of-type(2) {
    background: rgb(255, 153, 102);
    /* grid-column: 4 / span 2;
    grid-row: 1 / span 2; */
    grid-column: destacado-end / destacado2-end;
    grid-row: inicio / final;
}

.item:nth-of-type(3) {
    background: rgb(102, 255, 102);
    /* grid-column: 6 / span 2; */
    grid-column: destacado2-end / final;

}

/* 

Este mismo layout puede hacerse sin indicarle donde 
comienza (tanto en columnas como filas) cada uno 
de los bloques, esto indica que el sistema de grid 
se va a construir en el mismo order que estan 
definidos los contenedores en el html y en este caso 
el span tomara por defecto incrementos positivos de 
los espacios de izquierda a derecha en columnas y 
de arriba hacia abajo en filas.

.item:nth-of-type(1) {
    grid-column: span 3;
    grid-row: span 2;
}

.item:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.item:nth-of-type(3) {
    grid-column: span 2;
} */