* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: SF Pro Rounded;
}

body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
}

.header {
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 77px;
}

.header__logo,
.nav,
.nav__list li {
    display: inline-block;

}

.nav {
    position: absolute;
    right: 20px;
    top: 28px;
}

.nav li+li:before {
    content: " | ";
    font-size: 20px;
    padding: 0 10px;
}

.nav__list {
    list-style: none;
}

.nav__list li a {
    text-decoration: none;
    color: black;
    font-size: 2.3rem;
    font-weight: 500;
}

.main {
    height: 600px;
}

.aside {
    display: inline-block;
    height: 100%;
    padding: 10px;

}

.aside__items img {
    display: block;
    margin: 20px 0;
    border-radius: 10px;
}

.content {
    display: inline-block;
    padding: 10px;
    position: absolute;
    background-color: darkcyan;
    top: 200px;
    right: 35px;
    left: 370px;
    font-size: 1.8rem;
    border-radius: 1.5rem;
}

.footer {
    padding: 20px;
    height: 30px;
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    width: 100%;
    bottom: 0;
}

.aboutus {
    display: inline-block;
    position: fixed;
    font-size: 1.4rem;
    bottom: 15px;
    font-weight: 500;
}

.contacts {
    display: inline-block;
    position: fixed;
    right: 20px;
    font-size: 1.4rem;
    bottom: 15px;
    font-weight: 500;
}