.main-nav {
    margin-top: 10px;
    list-style: none;
    padding: 0px;
    background-color: rgb(0, 153, 153);
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: aliceblue;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: rgb(0, 51, 204);
}

.main-nav__item a:active {
    color: crimson;
}

.main-nav__item a::after {
    content: " | ";
}