#cabeceraweb {
  background-color: crimson;
}

#navegacionprincipal {
  background-color: coral;
}

#barralateral {
  background-color: burlywood;
  float: left;
  height: 1103.5px;
}

#contenidoprincipal {
  background-color: chocolate;
  margin-left: 210px;
  padding-left: 15px;
  padding-top: 15px;
}

#pieprincipal {
  background-color: darkred;
  clear: both;
}

li {
  background-color: rgb(238, 255, 0);
  display: inline;
}
