* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    font-size: 2rem;
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: 2fr 4fr 2fr;
    grid-auto-rows: 100px;
    grid-template-areas: "hd hd hd"
        "nb main sd"
        "nb main sd"
        "nb main ad"
        "nb main ad"
        "ft ft ft";
}

.header,
.nav-bar,
.main,
.sidebar,
.advertising,
.footer {
    border: 1px solid crimson;
    background: rgb(153, 102, 255);
    padding: 10px;
    border-radius: 8px;
}

.nav-bar li {
    list-style: none;
}

.header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-bar {
    grid-area: nb;
}

.main {
    grid-area: main;
    overflow: hidden;
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: justify;
}

.sidebar {
    grid-area: sd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertising {
    grid-area: ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 2fr 4fr;
        grid-template-areas: "hd hd"
            "nb nb"
            "sd main"
            "sd main"
            "sd main"
            "ad ft";
    }

    .main p {
        font-size: 2rem;
    }

    .nav-bar ul {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }
}

@media screen and (max-width: 430px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "hd"
            "nb"
            "main"
            "main"
            "sd"
            "ad"
            "ft";
    }

    .main h1 {
        font-size: 3rem;
    }

    .main p {
        font-size: 1.8rem;
    }

    .nav-bar ul {
        display: flex;
        justify-content: space-between;
    }
}