* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "SF Pro Display";
}

main {
    font-size: 1.5rem;
}

img {
    width: 640px;
    height: 426.50px;
}