* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #000;
}

body h2 {
    color: white;
    font-size: 3rem;
    margin-top: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;

}

.container div {
    border: 1px solid yellow;
    background: rgb(38, 38, 38);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}