* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sf pro display;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
    position: relative;
    width: 700px;
    height: 700px;
    left: 180px;
    top: 50px;
}

.title {
    background-color: #3333ff;
    width: 200px;
    height: 70px;
    position: relative;
    left: 200px;
    top: 30px;
    border-radius: 8px;
    color: crimson;
}

h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 15px;
}

.style1 {
    width: 10px;
    height: 80px;
    background-color: #3333ff;
    position: relative;
    left: 70px;
    top: 85px;
}

h2 {
    font-size: 2.5rem;
    position: relative;
    left: 25px;
    top: 20px;
}

img {
    border-radius: 50px;
}

figcaption {
    font-size: 1.3rem;
    font-style: italic;
    position: relative;
    left: 215px;
    font-weight: 500;
}

p {
    position: relative;
    width: 600px;
    top: 20px;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 450;
}