body {
    font-family: "SF Pro Display";
}

.container {
    display: grid;
    /* grid-template: 100px 1fr 150px/200px 1fr; */

    /* Tambien para lograr las columnas y las filas de distinto tamaño y que sean 
    responsivas, en lugar de darle 200px a una, le podemos dar 1fr y a la 
    segunda 2fr, lo mismo con la altura. */
    grid-template: 1fr 5fr 1fr / 1fr 2fr;
    /* Cave mencionar, que las fracciones de las filas, son independientes a las 
    fracciones de las columnas. */

    /* grid-gap: filas columnas; */
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas:
        "header header"
        "left contenido"
        "footer footer";
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid crimson;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */

}

.item:nth-of-type(4) {
    background: blueviolet;
    overflow: auto;
    /* display: subgrid;  Aun estan en desarrollo */
    /* display: inline-grid; Aun estan en desarrollo */
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item {
    background: yellow;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.contenido {
    grid-area: contenido;
}

.footer {
    grid-area: footer;
}