#cajaImagen {
    float: left;
    width: 200px;
    height: 172px;
    margin: 30px;
    border: 1px solid crimson;
}

#zonaDestino {
    float: left;
    width: 350px;
    height: 350px;
    margin: 100px;
    border: 1px solid chartreuse;
}

p {
    margin: auto;
    align-content: center;
    font: bold 14px Verdana;
    padding-top: 160px;
    padding-left: 45px;
}