#cajaImagenes {
    float: left;
    width: 200px;
    height: 806px;
    margin: 30px;
    border: 1px solid crimson;
}

#zonaDestino {
    float: left;
    width: 402px;
    height: 402px;
    margin: 100px;
    border: 1px solid chartreuse;
}

p {
    margin: auto;
    align-content: center;
    font: bold 14px Verdana;
    padding-top: 187px;
    padding-left: 85px;
}